extends layout 
 
block content 
  h1= title 

  if (toShow == null)
    h2 No instance to update

  else 
  - let organicfruitsid = toShow._id 
  - let organicfruits_name = toShow.organicfruits_name 
  - let organicfruits_quantity = toShow.organicfruits_quantity
  - let organicfruits_price = toShow.organicfruits_price
   
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{organicfruitsid} 
  - let actionid = "/resource/organicfruits/" + organicfruitsid 
  form(id='organicfruitsForm', action= actionid, method="PUT") 
    div.form-group 
        label.organicfruitsAttr(for='organicfruits_name') organicfruits name
        input#organicfruits_name(type='text', name='organicfruits_name', value= organicfruits_type ) 
    div.form-group 
        label.organicfruitsAttr(for='size') organicfruits size 
        input#organicfruits_quantity(type='text', name='size', value= organicfruits_quantity) 
    div.form-group 
        label.organicfruitsAttr(for='price') organicfruits price 
        input#organicfruits_price(type='number', name='price', value= organicfruits_price ) 
    input(type="submit") 
 
  script. 
    document.forms['organicfruitsForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    });