extends layout 
 
block content 
  h1= title 
 
  form(id='organicfruitsForm', action="/resource/organicfruits", method="POST") 
    div.form-group 
        label.organicfruitsAttr(for='organicfruits_name') organicfruits name
        input#organicfruits_name(type='text', name='organicfruits_name') 
    div.form-group 
        label.organicfruitsAttr(for='organicfruits_quantity') organicfruits quantity
        input#organicfruits_quantity(type='text', name='organicfruits_quantity') 
    div.form-group 
        label.organicfruitsAttr(for='organicfruits_price') organicfruits price
        input#organicfruits_price(type='number', name='organicfruits_price') 
    input(type="submit") 
 
  script. 
    document.forms['organicfruitsForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    });